{% extends 'multiplex/distributorbase.html' %}
{% block content %}
{% load static %}
	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Your Sold Movies To Theatre
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Movie Name</th>
                  <th>Poster</th>
                  <th>Description</th>
                  <th>Actor</th>
                  <th>Producer Name</th>
                  <th>Producer Price</th>
                  <th>Theatre Name</th>
                  <th>Your Price For Theatre</th>
                </tr>
							</thead>
							<tbody>
              {% for movie in movies %}
                <tr>
                  <td> {{movie}}</td>
                  <td> <img src="{% static movie.poster.url %}" alt="poster Pic" height="40px" width="40px" /></td>
                  <td> {{movie.description}}</td>
                  <td> {{movie.actor}}</td>
                  <td>{{movie.producer}}</td>
                  <td>{{movie.producer_price}}</td>
                  <td>{{movie.theatre}}</td>
                  <td>{{movie.distributor_price}}</td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
