{% extends 'multiplex/customerbase.html' %}
{% load static %}
{% block content %}

<head>
  <style media="screen">
    .center {
    margin: auto;
    width: 60%;

    padding: 10px;

  }
  </style>
</head>
	<!-- main content -->
	<div class="wrapper">
<br><br><br>
    <div class="center">
      <h1 style="text-align:center;color:blue;">Ticket Booked Successfully !</h1><br><br>
      <a style="background-color: #f44336;
    color: white;
    padding: 14px 25px;
    margin-left:220px;
    text-align:center;
    text-decoration: none;
    display: inline-block;"  href="/download-ticket">Download Ticket</a>
    </div>
    <br><br><br><br><br><br><br><br><br>	<br><br><br><br><br><br><br><br><br>
	</div>



	<!-- end main content -->
{% endblock content %}
